<!--footer-->
<div class="footer">
  <div class="container">
      <div class="col-md-4 sub-scb">
          <form>
    <input class="mail2" type="text" name="email" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">
    <input class="btn btn-default sub-scb-btn" type="Submit" value="join"><br>
  </form>
          <p>subscribe us</p>
      </div>
      <div class="col-md-4 design">
              <p>Copyright &copy; 2015 Fashion 4 u. All Rights Reserved | Design by <a href="http://pradeepa.com/" target="_blank">Pradeepa</a> </p>
  </div>
      <div class="col-md-4 social">
          <ul>
              <li><a href="#" class="face"></a></li>
              <li><a href="#" class="twit"></a></li>
              <li><a href="#" class="gpls"></a></li>
              <li><a href="#" class="inst"></a></li>
              <li><a href="#" class="drbl"></a></li>
              <div class="clearfix"></div>
          </ul>
      </div>
      <div class="clearfix"></div>
  </div>
</div>