<div class="about">
  <div class="about-grid">
      <div class="container">
          <h3>About</h3>
          <div class="col-md-3 re-szz">
              <img src="./assets/images/ab1.jpg" alt="/" class="img-zoom3"/>
              <div class="abt-gal-txt">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <a href="#">More</a>
              </div>
          </div>
          <div class="col-md-3 re-szz">
              <img src="./assets/images/ab2.jpg" alt="/" class="img-zoom3"/>
              <div class="abt-gal-txt">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <a href="#">More</a>
              </div>
          </div>
          <div class="col-md-3 re-szz">
              <img src="./assets/images/ab3.jpg" alt="/" class="img-zoom3"/>
              <div class="abt-gal-txt">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <a href="#">More</a>
              </div>
          </div>
          <div class="col-md-3 re-szz">
              <img src="./assets/images/ab4.jpg" alt="/" class="img-zoom3"/>
              <div class="abt-gal-txt">
                  <h4>Services</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  <a href="#">More</a>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="abou-tabs">
      <div class="container">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav2" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Lorem ipsum</a></li>
          <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lorem ipsum</a></li>
          <li role="presentation" class="2t"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lorem ipsum</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
          <div role="tabpanel" class="tab-pane active re-pad2" id="home">
              <div class="col-md-6 re-flt">
                  <img src="./assets/images/tb1.jpg" alt="/" class="img-responsive">
              </div>
              <div class="col-md-6 re-flt re-xt">
              <h4>Lorem Ipsum is simply dummy text.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
              </div>
              <div class="clearfix"></div>
          </div>
          <div role="tabpanel" class="tab-pane re-pad2" id="profile">
              <div class="col-md-6 re-flt">
                  <img src="./assets/images/tb3.jpg" alt="/" class="img-responsive">
              </div>
              <div class="col-md-6 re-flt re-xt">
              <h4>Lorem Ipsum is simply dummy text of the printing.</h4>
              <p>An unknown printer took a galley of type and scrambled it to make a type specimen book.<p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
              </div>
              <div class="clearfix"></div>
          </div>
          <div role="tabpanel" class="tab-pane re-pad2" id="messages">
              <div class="col-md-6 re-flt">
                  <img src="./assets/images/tb4.jpg" alt="/" class="img-responsive">
              </div>
              <div class="col-md-6 re-flt re-xt">
              <h4>Lorem Ipsum is simply dummy text.</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
              <div class="clearfix"></div>
          </div>
          </div>
      </div>
  </div>
</div>
<div class="testimonials">
  <div class="container">
      <h3>Testimonials</h3>
      <div class="col-md-3 tst-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">demolink.com</a>
      </div>
      <div class="col-md-3 tst-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">demolink.com</a>
      </div>
      <div class="col-md-3 tst-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">demolink.com</a>
      </div>
      <div class="col-md-3 tst-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#">demolink.com</a>
      </div>
      <div class="clearfix"></div>
  </div>    
</div>