<div class="contact_page">
  <div class="container">
       <h3>Contact</h3>
      <div class="col-md-6">
          <div class="contact_form">
                  <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Enter your text here...</textarea><br>
              <!-- <form>
                  <input class="name" type="text" name="name" value="Your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"><br>

                  <input class="nuber" type="text" name="Phone number" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Number';}"><br>

                  <input class="mail" type="text" name="email" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}"><br>
                  <input type="submit" class="btn btn-info mrgn-can"></button>
              </form> -->
          </div>
      </div>
      <div class="col-md-6">
          <div class="map">
              <!-- <iframe  class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708701.6196657238!2d57.47843070707167!3d24.36721917215885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0x74ced0bf2b0029e9!2sDubai+-+United+Arab+Emirates!5e0!3m2!1sen!2sin!4v1437020921804"frameborder="0" style="border:0" allowfullscreen></iframe> -->
              <!-- <iframe  class="embed-responsive-item" src="https://www.google.com/maps/vt/data=zuGvK-KNnI9Q859wu39NWFVwL_wSyXoJfb4w-qjkhA_7ViSx8HzytuCyOfdT3t2y-VjmhVrxdYcXVNu056Fc9O76ZurQ2QHIyN_WQL5a1bw-Wv5He2Yjw2IK9UtJtxsgJZ4XPofI6WSEQZsae1kQ6RyGGRDdqixZyXpXj-8eOxPLpaVAoautcE-pJp7PDSpesXmsf6Nulk6QjpADsB1LELgyX9zn5o43-Zxz3bqOh8b3B8wjfWBe5WO4INDsXLvyWpb6"frameborder="0" style="border:0" allowfullscreen></iframe>          -->
              <img src="https://www.google.com/maps/vt/data=zuGvK-KNnI9Q859wu39NWFVwL_wSyXoJfb4w-qjkhA_7ViSx8HzytuCyOfdT3t2y-VjmhVrxdYcXVNu056Fc9O76ZurQ2QHIyN_WQL5a1bw-Wv5He2Yjw2IK9UtJtxsgJZ4XPofI6WSEQZsae1kQ6RyGGRDdqixZyXpXj-8eOxPLpaVAoautcE-pJp7PDSpesXmsf6Nulk6QjpADsB1LELgyX9zn5o43-Zxz3bqOh8b3B8wjfWBe5WO4INDsXLvyWpb6" style="border:0" height="338" id="lu_map" width="515" title="Map of Hamburg, Germany" alt="Map of Hamburg, Germany" data-atf="1">
            </div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
<div class="adress-label">
  <div class="container">
      <div class="col-md-4 address">
          <h3>Address</h3>
          <ul>
              <li>United Arab Emirates</li>
              <li>Dubai</li>
              <li>Burj Towers</li>
              <li>Floor no :135</li>
          <li><span class="glyphicon glyphicon-earphone call" aria-hidden="true"></span> +11223344</li>    
          </ul>
      </div>
      <div class="col-md-4 address s3">
          <h3>Our shows</h3>
         <ul>
             <li><a href="#">Femina fashion weak</a></li>
             <li><a href="#">Loreal England Toor</a></li>
             <li><a href="#">Paris Fashion Weak</a></li>
          </ul> 
      </div>
      <div class="col-md-4 address s2">
          <h3>Support</h3>
          <ul>
              <li><a href="#">Help and Support</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Faq</a></li>
          </ul>
      </div>
  </div>   
</div>