<div class="gallery">
  <div class="container">
      <h3>Gallery</h3>
      <!--script-->
          <!-- <link rel="stylesheet" href="./assets/css/swipebox.css">
          <script src="./assets/js/jquery.swipebox.min.js"></script>
          <script type="text/javascript">
                      jQuery(function($) {
                          $(".swipebox").swipebox();
                      });
          </script> -->
      <!--script-->
      <div class="gallery-grids">
          <ul>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl10.jpg" class="swipebox">
                  <img src="./assets/images/gl10.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl12.jpg" class="swipebox">
                  <img src="./assets/images/gl12.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl8.jpg" class="swipebox">
                  <img src="./assets/images/gl8.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl4.jpg" class="swipebox">
                  <img src="./assets/images/gl4.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl5.jpg" class="swipebox">
                  <img src="./assets/images/gl5.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl6.jpg" class="swipebox">
                  <img src="./assets/images/gl6.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl7.jpg" class="swipebox">
                  <img src="./assets/images/gl7.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl8.jpg" class="swipebox">
                  <img src="./assets/images/gl8.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl9.jpg" class="swipebox">
                  <img src="./assets/images/gl9.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl10.jpg" class="swipebox">
                  <img src="./assets/images/gl10.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl11.jpg" class="swipebox">
                  <img src="./assets/images/gl11.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl12.jpg" class="swipebox">
                  <img src="./assets/images/gl12.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl13.jpg" class="swipebox">
                  <img src="./assets/images/gl13.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl14.jpg" class="swipebox">
                  <img src="./assets/images/gl14.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <li class="col-md-4 gal-alt">
                  <a href="./assets/images/gl15.jpg" class="swipebox">
                  <img src="./assets/images/gl15.jpg" alt="/"/>
                      <i class="hide-box">
                          <span class="glyphicon glyphicon-camera g2" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                          <div class="clearfix"></div>
                      </i></a>
              </li>
              <div class="clearfix"></div>
          </ul>
      </div>
  </div>
</div>